@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic');
@import url('//fonts.googleapis.com/css?family=Roboto+Slab:400,300,700');

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.1') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.1') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@import "bourbon";
//@import "compass/css3";
//@import "compass/support";

$experimental-support-for-svg: true;
@import "variables.scss";
@import "mixins.scss";

//apprentice feature

.apd {
  border-radius: 9px;
  box-shadow: 0 4px 2px -2px #E0E0E0;
  border: 1px solid #dbdbdb;
  padding: 18px;
  h3 {
    color: $main_color;
    margin-top: 0px;
    font-size: 30px;
  }
  p {
    font-size: $normalSize * 1.385;
    line-height: 1em;
    a {
      color: #3a3a3a;
      text-decoration: none;
    }
  }
  .apl {
    border-top: 1px dotted #eeeeee;
    cursor: pointer;
    padding: 15px 0px;
    &:first-of-type {
      border-top: none;
    }
    &:hover {
      .awe, p a {
        color: $main_color;
      }
    }
  }
}

.apc {
  .apl {
    display: block;
    margin-bottom: 5px;
    p {
      font-size: $normalSize * 1.385;
      color:#666666;
      font-size: 18px;
      min-height: 29px;
      a {
        color: $content_gray;
        text-decoration: none;
      }
    }
    &:hover {
      p {
        color: #4174dc;
        a {
          color: $main_color;
        }
      }
    }
    .api {
      background-color:#e5e5e5;
      .awe {
        color: #4174dc;
      }
    }
  }
  .apl {
    height: 100%;
    position: relative;
    p {
      display: inline-block;
      padding: 10px 0;
      margin-left: 70px;
      width: 80%;
      border-bottom:1px solid #e9e9e9;
      .cnt & {
        margin-bottom: 0px;
      }
    }
  }
}

.api {
  cursor: pointer;
  display: inline-block;
  height: 45px;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -23px;
  text-align: center;
  width: 45px;
  .awe {
    color: #3a3a3a;
    font-size: 25px;
    line-height: 50px;
    font-family: 'FontAwesome';
  }
}

// Apprentice navigation widget 
.scn{
  box-shadow: none;
  background-color: transparent;
}
.apw {
  background: #fff; 
  border: 1px solid #dbdbdb;
  overflow: hidden;
  border-top:none;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  border-left: 1px solid #ededed;
  margin-bottom: 20px;
  &.olv {
    .apw-i {
      .ali {
        padding-left: 55px;
      }
    }
  }
  .apw-i {
    .ali {
      padding-left: 30px;
    }
    .apws .ali {
      padding-left: 55px;
      position: relative;
    }
  }
  > div {
    .apws {
      a {
        color: #767575;
      }
    }
    a {
      border-top: 1px solid #ededed;
      color: #767575;
      display: block;
      font-size: $normalSize;
      padding: 15px;
      &:hover {
        background: #ededed;
        color: #767575;
        font-weight: 700;
        font-style: italic;
        &:after, &:before {
          font-style: normal;
          font-weight: 400;
        }
      }
      &.ali {
        position: relative;
        z-index: 0;
        &:after {
          color: #cccccc;
          float: right;
        }
        &:before {
          color: #767575;
          display: block;
          height: 15px;
          position: absolute;
          top: 15px;
          left: 30px;
          width: 15px;
        }
        &:after, &:before {
          font-family: 'FontAwesome';
          font-size: 15px;
        }
      }
      &.opn {
        span {
          display: block;
          height: 30px;
          position: absolute;
          right: 0;
          top: 12px;
          width: 30px;
          &:after {
            color: #ccc;
            content: '\f078';
            line-height: 30px;
            font-family: 'FontAwesome';
            font-style: normal;
          }
        }
      }
      &.cls {
        span {
          &:after {
            color: #ccc;
            content: '\f077';
            display: block;
            height: 30px;
            line-height: 30px;
            font-family: 'FontAwesome';
            font-style: normal;
            margin: auto 0;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 30px;
          }
        }
      }
      &.ald {
        &:before {
          content: '\f00c';
        }
      }
      &.alp {
        &:before {
          content: '\f040';
        }
      }
      &.alc {
        &:before {
          content: '\f0f6';
        }
      }
      &.spn {
        &:before {
          @include animation-timing-function(linear);
          @include animation-duration(5s);
          @include animation-iteration-count(infinite);
          @include animation-name(spinning-circles);
          border-radius: 50%;
          box-shadow: #767575 0 -6px 0 0, #767575 4px -4px 0 0, #767575 6px 0 0 0, #767575 4px 4px 0 0, #767575 0 6px 0 0, #767575 -4px 4px 0 0, #767575 -6px 0 0 0, #767575 -4px -4px 0 0;
          content: '';
          height: 4px;
          margin-top: 8px;
          margin-left: 4px;
          width: 4px;
        }
      }
      &.act {
        background: #f9f9f9;
        font-style: italic;
        font-weight: 700;
        &:after, &:before {
          font-style: normal;
        }
      }
    }
    &:first-child {
      a {
        border-top: 0px;
      }
    }
  }
}

.acl {
  background: #353535;
  margin: 30px 0px;
  padding: 15px;
  color:#fff;
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"] + label div {
    background: #353535;
    border: 1px solid #fff;
    cursor: pointer;
    float: left;
    height: 21px;
    margin-bottom: 2px;
    margin-right: 10px;
    padding: 2px;
    vertical-align: middle;
    position: relative;
    width: 21px;
    a {
      opacity: 0;
      height: 0px;
    }
  }
  input[type="checkbox"]:checked + label {
    a {
      display: block;
      height: 20px;
      opacity: 1;
      transform: scale(0.8);
      &:before {
        content: '\f00c';
        color: #fff;
        font-family: FontAwesome;
        position: absolute;
        height: 20px;
        font-size: 20px;
        top: 2px;
        left: 3px;
      }
      &:active {
        &:before {
          opacity: 0.1;
          transform: scale(1.2);
          z-index: 100;
        }
      }
    }
  }
  label {
    span {
      color: #fff;
      display: block;
      font-size: 14px;
      line-height: 27px;
    }
  }
}

.fav {
  margin-top: 10px;
}

.heart {
  border: none;
  cursor: pointer;
  display: block;
  font-size: 30px;
  height: 30px;
  margin-right: 15px;
  position: relative;
  width: 30px;
  &:before {
    content: '\f08a';
    color: #dadada;
    font-family: 'FontAwesome';
    height: 30px;
    padding: 1px;
    position: absolute;
    left: -3px;
    top: 0px;
    transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
    -moz-transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
    -webkit-transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
    -ms-transition: transform 0.2s ease 0s, opacity 0.3s ease 0s;
    width: 30px;
  }
  &:active {
    &:before {
      opacity: 0.1;
      transform: scale(1.3);
      z-index: 100;
    }
  }
  &.fill {
    &:before {
      content: '\f004';
    }
    &:active {
      &:before {
        opacity: 1;
      }
    }
  }
}

@each $color in $appr-bg {
  .apps.#{nth($color, 1)} {
    background: nth($color, 2);
  }
}

.apps {
  padding: 30px 0px;
  &.nop {
    background: #3a3a3a;
  }
  .ap-v {
    min-height: 60px;
    position: relative;
  }
  .scvps {
    height: 100% !important;
    .vwr {
      position: relative !important;
      top: 0 !important;
    }
  }
  .apv {
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0 auto;
    position: relative;
    .scvps {
      min-height: 400px;
      padding: 0;
      .vdc {
        iframe, > div {
          box-shadow: none;
          display: block;
        }
      }
    }
  }
  .scvps .vdc.lv .pvb {
    background: none;
  }
  .pvb {
    height: 263px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100% !important;
  }
  .wp-audio-shortcode {
    border-radius: 10px;
    border: 1px solid #292929;
    background: #3a3a3a;
    height: 50px !important;
    position: absolute;
    bottom: 3px;
    left: 0px;
    .mejs-controls {
      background: none;
      height: 50px !important;
      .mejs-time {
        padding-top: 18px;
      }
      .mejs-volume-button {
        button {
          background: none;
          height: 22px;
          margin: 17px 5px;
          width: 19px;
          &:before {
            color: #fff;
            font-family: 'FontAwesome';
            font-size: 20px;
            text-align: left;
          }
        }
        &.mejs-mute {
          button {
            &:before {
              content: '\f026';
              margin-right: 8px;
            }
          }
        }
        &.mejs-unmute {
          button {
            &:before {
              content: '\f028';
            }
          }
        }
      }
      .mejs-horizontal-volume-slider {
        margin-top: 17px;
        .mejs-horizontal-volume-total {
          border-radius: 10px;
          background: #1e1e1e;
          height: 17px;
          top: 0;
        }
        .mejs-horizontal-volume-current {
          border-radius: 10px;
          background: #9e9e9e;
          height: 17px;
          top: 0;
        }
      }
      .mejs-time-rail {
        padding-top: 12px;
        .mejs-time-total {
          border-radius: 10px;
          background: #1e1e1e;
          height: 17px;
          overflow: hidden;
        }
        .mejs-time-loaded {
          background: #1e1e1e;
          height: 17px;
        }
        .mejs-time-current {
          background: #9e9e9e;
          height: 17px;
        }
      }
      .mejs-playpause-button {
        height: 30px;
        margin-left: 20px;
        margin-top: 10px;
        width: 30px;
        &.mejs-play {
          button {
            &:before {
              content: '\f04b';
            }
          }
        }
        &.mejs-pause {
          button {
            &:before {
              content: '\f04c';
            }
          }
        }
        button {
          background: none;
          height: 30px;
          margin: 4px 0 0 0;
          width: 30px;
          &:before {
            color: #fff;
            font-family: 'FontAwesome';
            font-size: 20px;
          }
        }
      }
    }
  }
  .in {
    padding: 0px;
  }
}
.cnt .sAs .ttl{
  margin-bottom: 0;
}

.cnt {
  .ttl.nbr {
    border-bottom: none;
    padding-bottom: 0px;
  }
}

.apt {
  color: $main_color;
  display: inline-block;
}

.lvl-2 {
  padding-left: 20px;
}

.lvl-3 {
  padding-left: 40px;
}

.aut {
  h2 {
    color: $main_color;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.amt {
  background-color: #f7f7f7;
  border:1px solid #ededed;
  padding:10px 15px;
  font-size: 16px;
  color: #668be1;
  margin: 0;
  a {
    color: #668be1;
  }
}

.apwl {
  .apwl {
    a {
      padding-left: 40px;
    }
  }
}

.pgn {
  @include clearfix();
  .page-numbers {
    @include linear-gradient(#f9f9f9 0%, #ededed 100%);
    box-shadow: 0 1px 0 0 rgba(#fff, .2);
    border: 1px solid #e3e3e3;
    font-size: $normalSize * 1.077;
    height: 36px;
    line-height: 36px;
    position: relative;
    .bSe & {
      color: $main-color;
      .awe {
        color: $main-color;
      }
      &:before, &:after {
        font-family: 'FontAwesome';
      }
    }
    &.nxt {
      &:before {
        content: '\f190' !important;
        margin-right: 10px;
      }
    }
    &.prv {
      &:after {
        content: '\f18e' !important;
        margin-left: 10px;
      }
    }
  }
}

// widgets
.thrive-apprentice-sidebar{
  .wat{
    margin-bottom: 55px!important;
    margin-top: 27px;
    .scn{
      p.ttl{
        font-size: 16px;
        text-transform: uppercase;
        color: #494949;
        font-family: Lato, arial;
        position: relative;
        top: -30px;
        margin:0;
        box-shadow: none;
      }
      ul{
        margin-top: -36px;
        box-shadow: 0 0 3px rgba(1,1,1,0.16);
        li{
          padding: 10px 0 10px 16px!important;
          margin: 0 20px!important;
          a{
            color:#767575;
            &:hover{
              color:#4174dc;
            }
          }
        }
      }
    }
  }
}

footer {
  color: #969ba9;
  .cnt {
    p {
      color: #969ba9;
    }
  }
  p {
    color: #969ba9;
  }
  .scn ul li a {
    color: #969ba9;
    &:hover {
      color: #969ba9;
    }
  }
}