@charset "utf-8";
/* CSS Document */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.site-logo {background-image:url(../img/logo@2x.png); background-size:288px 44px;}
select.form-control {background-image:url(../img/select@2x.png); background-size:20px 10px;}
.fcopy:before {background-image:url(../img/logo@2x.png); background-size:288px 44px;}
.loader-mugshots {background-image:url(../img/loader@2x.gif); background-size:64px 64px;}
.l1-list li {background-image:url(../img/checkmark1@2x.png); background-size:14px 14px;}
.loader-circle {background-image:url(../img/loader_circle@2x.gif); background-size:16px 16px;}
.l1-list2 li:before {background-image:url(../img/l1_icns@2x.png); background-size:16px auto;}
.confirm-header:before {background-image:url(../img/l1_confirm@2x.png); background-size:24px 24px;}
.l2-frame-icn:before {background-image:url(../img/l2_loader@2x.png); background-size:64px auto;}
.pb-list li {background-image:url(../img/checkmark3@2x.png); background-size:12px 12px;}
.pb-terms input[type="checkbox"] + label:before {background-image:url(../img/ps_checkbox@2x.png);}
.pb-secure-title:before {background-image:url(../img/ps_secure@2x.png); background-size:12px 16px;}
.ps-incs li {background-image:url(../img/checkmark4@2x.png); background-size:12px 12px;}
.ps-faq h4:before {background-image:url(../img/icn_info@2x.png); background-size:8px 16px;}
.ps-author:after {background-image:url(../img/ps_stars@2x.png); background-size:64px 12px;}
.ps-stars {background-image:url(../img/ps_stars@2x.png); background-size:64px 12px;}
.ri-title:before {background-image:url(../img/checkmark2@2x.png); background-size:18px 18px;}
.post:before {background-image:url(../img/corner@2x.png); background-size:20px auto;}
.icn-verified {background-image:url(../img/verified@2x.png); background-size:30px 40px;}
.results-note li:before {background-image:url(../img/results_icns@2x.png); background-size:16px auto;}
.ps-verified:before {background-image:url(../img/ps_stamp@2x.png); background-size:120px 102px;}
.l1-list3 .cell {background-image:url(../img/checkmark_big@2x.png); background-size:64px 64px;}
.loader-circle2 {background-image:url(../img/loader_circle2@2x.gif); background-size:64px 64px;}
.l1-note span:before {background-image:url(../img/icn_alert@2x.png); background-size:16px 14px;}
a.btn-big.arw:after, .form-btn:after {background-image:url(../img/btn@2x.png); background-size:22px 14px;}
a.btn-med.arw:after {background-image:url(../img/btn2@2x.png); background-size:17px 11px;}
}

/* -1280px */
@media only screen and (max-width: 1219px) {
.wrapper {margin-left:30px; margin-right:30px;}

.js #menu {display:none;}
.js .slicknav_menu {display:block;}

.form-btn {font-size:22px;}

.intro {padding:70px 0;}
.intro-title {margin:30px 0; font-size:36px; line-height:40px;}

.hp-section {padding:30px;}

#footer .wrapper {padding:30px 0;}

.loader {padding:30px 0;}
.l1-content {float:none; margin:30px 0;}
.l1-content-inn {margin:0; padding:0;}
.l1-sidebar {float:none; width:auto;}
.l1-list2 li {float:left; width:33.333%;}

.main {padding:30px 0;}
.page-title {margin:30px 0;}
}

/* 960px */
@media only screen and (max-width: 1023px) {

.section {margin-top:30px; margin-bottom:30px;}
.block {margin-top:20px; margin-bottom:20px;}

}

/* 800px */
@media only screen and (max-width: 959px) {
h1, h2, h3, h4, h5, h6 {margin:30px 0 20px 0;}

.mobile {display:block;}
.desktop {display:none;}

.intro {padding:40px 0;}
.intro-title {font-size:32px; line-height:36px;}

.form.name .cell {width:50%;}
.form.phone .cell, .form.email .cell {width:60%;}
.form.phone .cell.btn, .form.email .cell.btn {width:40%;}
.form.address .cell {width:50%;}
.form.address .cell.btn {float:none; width:50%; margin:0 auto; padding-top:8px; clear:both;}

.appeal-section {padding:30px; border:1px solid #195888; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.appeal-title1, .appeal-title2 {margin:15px 0;}
.appeal-title1 {font-size:24px; line-height:28px;}
.appeal-title2 {font-size:16px; line-height:20px;}
.hp-content {border:none;}
.hp-section {padding:30px 0; background:none !important; border-color:#CCC;}
.hp-section:last-child {padding-bottom:0;}
.hp-section h2 {margin:20px 0; padding:0; font-size:24px; line-height:28px; border:none;}
.seen-on h2 {font-size:16px; line-height:20px;}
.welcome h2 {font-size:18px; line-height:24px;}
.welcome p {font-size:14px; line-height:22px;}
.states-list ul li {width:33.333%;}
.news-block .cell {width:50%;}
.post:before {background-position:0 -20px;}
.post h3 {font-size:20px; line-height:24px;}
.post p {font-size:14px; line-height:22px;}
.scholarship h2, .scholarship p {margin:10px 0;}

.loader-container {padding:25px 30px 30px 30px;}
.l1-block {margin-top:25px;}
.loader-title {font-size:24px; line-height:28px;}
.loader-progress, .loader-progress div {height:32px;}
.loader-mugshots {width:42px; height:42px; background-size:32px 32px;}
.l1-title {font-size:20px; line-height:24px;}

.loader-subtitle {margin-top:-10px; font-size:16px; line-height:20px;}
.l1-list3 .cell {padding-left:20px; padding-right:20px;}

.results-note {margin-bottom:0;}

.page-title {font-size:24px; line-height:28px;}
.ps-content {margin:0;}
.ps-content .half {float:none !important; width:auto; margin:20px 0; padding:0;}
.ps-map {height:200px;}

.results-intro {padding:30px 0;}
.ri-table {display:block;}
.ri-table .cell {display:block; width:auto !important; margin:20px 0; padding:0 !important;}
.ri-title, .ri-text, .ri-btn {margin:15px 0;}
.ri-title, .ri-btn {text-align:center;}
.ri-title {font-size:24px; line-height:32px;}
.ri-title:before {margin:0 10px 0 0;}
.ri-sum {max-width:400px; margin:0 auto;}

.results-content {padding:10px 0;}
.r4-table table {border-spacing:0 20px;}
.r4-table thead {display:none;}
.r4-table td {display:block; padding:15px 20px 15px 50% !important; border:1px solid #CCC; border-top-color:#EEE; border-bottom:none; position:relative;}
.r4-table td:first-child {border-top-color:#CCC;}
.r4-table td:last-child {border-bottom:1px solid #CCC;}
.r4-table td:before {display:block; content:""; width:45%; margin-top:-9px; color:#222; font-size:13px; font-weight:600; line-height:18px; position:absolute; top:50%; left:20px;}
.r4-table td:nth-of-type(1):before {content: "Name:"; }
.r4-table td:nth-of-type(2):before {content: "Location:"; }
.r4-table td:nth-of-type(3):before {content: "Data Sources:"; }
.r4-table td:nth-of-type(4):before {content: "Verified Report:"; }
.r4-table td:nth-of-type(5):before {content: "Open Report:"; }
.r4-table td.button {width:auto;}
.results-search {margin:0; padding-bottom:10px; font-size:18px; line-height:24px;}
}

/* 768px */
@media only screen and (max-width: 799px) {

}

/* 750px */
@media only screen and (max-width: 767px) {

}

/* 720px */
@media only screen and (max-width: 749px) {

}

/* 640px */
@media only screen and (max-width: 719px) {
h1 {font-size:24px; line-height:28px;}
h2 {font-size:20px; line-height:24px;}
h3 {font-size:16px; line-height:20px;}
h4 {font-size:14px; line-height:20px;}
h5 {font-size:14px; line-height:20px;}
h6 {font-size:13px; line-height:20px;}

.l1-list ul, .l1-list2 li {float:none; width:auto;}

}

/* 480px */
@media only screen and (max-width: 639px) {
.wrapper {margin-left:20px; margin-right:20px;}
#header .wrapper {padding:15px 0;}
.site-logo, .site-logo a {width:196px; height:30px; background-size:196px 30px;}
.slicknav_menu {right:20px;}

.intro {padding:30px 0;}
.intro-title {margin:20px 0; font-size:24px; line-height:28px;}
.states-list ul li {width:50%;}
.news-block .cell {float:none; width:auto;}

.form .cell {width:100% !important;}
.form .cell.btn {width:100% !important; padding-top:8px;}

.loader {padding:20px 0;}
.l1-list3 .cell {float:none; width:auto; margin:20px 0; padding-left:0; padding-right:0;}

.r4-table td.name {font-size:18px; line-height:24px;}
a.btn-med {padding:9px 20px}
a.btn-big {padding:11px 30px}
}

/* 414px */
@media only screen and (max-width: 479px) {
.states-list ul li {float:none; width:auto;}

.pb-secure, .ps-block {padding:20px;}
.pb-body-top {padding:0 20px 20px 20px;}
.ps-map {margin:0 -20px -20px -20px;}
.pb-btn {margin-top:15px;}
.ps-review {padding:15px 20px;}
.ps-sum {padding:0 0 20px 0;}
.ps-sum-table {display:block;}
.ps-sum-table .cell {display:block; margin:20px 0;}
.ps-sum-info {padding:0;}
.ps-verified {padding:140px 25px 25px 25px }
.ps-verified:before {margin:0 0 0 -60px; top:20px; left:50%;}

.l1-note {bottom:-30px;}
}

/* 375px */
@media only screen and (max-width: 413px) {
.l1-note {bottom:-30px;}
}

/* 320px */
@media only screen and (max-width: 374px) {
.wrapper {margin-left:10px; margin-right:10px;}
.loader {padding:10px 0;}
}

/*-- Nohit --*/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.nohit2-body:before {background-image:url(../img/nh2_offer@2x.png); background-size:114px 114px;}
.nohit2-record:before {background-image:url(../img/nh2_icns_records@2x.png); background-size:32px auto;}
.nohit2-report {background-image:url(../img/nh2_report@2x.png); background-size:354px 285px;}
}

@media only screen and (max-width: 1229px) {
.nohit2-body {padding:35px 40px 40px 40px;}
.nohit2-content {margin-right:-360px;}
.nohit2-content-inn {margin-right:360px; padding-right:40px;}
.nohit2-sidebar {width:360px;}
}

@media only screen and (max-width: 959px) {
.nohit2 {padding:20px 0;}
.nohit2-header {font-size:16px; line-height:18px;}
.nohit2-body:before {width:80px; height:80px; background-size:80px 80px;}
.nohit2-title {font-size:28px; line-height:30px; text-align:center;}
.nohit2-content {float:none; margin:30px 0 0 0;}
.nohit2-content-inn {margin:0; padding:0;}
.nohit2-sidebar {float:none; width:auto;}
}

@media only screen and (max-width: 639px) {
.nohit2-body {padding:30px;}
.nohit2-title, .nohit2-container {margin:30px 0;}
}

@media only screen and (max-width: 479px) {
.nohit2-body {padding:25px;}
.nohit2-body:before {width:60px; height:60px; background-size:60px 60px;}
.nohit2-header {padding:14px 20px; font-size:14px; line-height:16px;}
.nohit2-title {font-size:20px; line-height:24px;}
.nohit2-title, .nohit2-container {margin:25px 0;}
.nohit2-content {margin-top:25px;}
}


@media only screen and (max-width: 374px) {
.nohit2 {padding:10px 0;}
.nohit2 .wrapper {margin:0 10px;}
.nohit2-body {padding:20px;}
.nohit2-title {font-size:18px; line-height:20px;}
.nohit2-title i {display:block;}
.nohit2-title, .nohit2-container {margin:20px 0;}
.nohit2-content {margin-top:20px;}
}



/*-- Exit Lightbox --*/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
.lb2-limited:before {background-image:url(../img/lb2_icn_clock@2x.png); background-size:32px 32px;}
.lb2-btn-block:before {background-image:url(../img/lb2_arw@2x.png); background-size:93px 60px;}
.lb2-reports {background-image:url(../img/lb2_reports@2x.png); background-size:282px 180px;}
}

@media only screen and (max-width: 959px) {
.lightbox2 {width:780px;}
}

@media only screen and (max-width: 799px) {
.lightbox2 {width:700px;}
}

@media only screen and (max-width: 719px) {
.lightbox2 {width:620px;}
}

@media only screen and (max-width: 639px) {
.lightbox2 {width:460px;}
.lightbox2-content {padding:30px;}
h2.lb2-title {font-size:24px; line-height:28px;}
h3.lb2-subtitle {font-size:18px; line-height:22px;}
.lb2-btns {margin:30px 0;}
.lb2-btn-block .lb2-btn {padding:16px 20px; font-size:30px; line-height:32px;}
.lb2-btn-block input[type="submit"] {font-size:30px;}
.lb2-btn-block:before {right:20px;}
.lb2-terms {margin-top:20px; padding:0;}
.lightbox2 .lb2-reports {position:relative; left:inherit; bottom:inherit; margin:20px auto -30px auto !important;}
.lb2-search {margin:15px 0;}
.lb2-search .lb2-cell {float:none; width:auto; margin:15px 0; padding:0;}
}

@media only screen and (max-width: 479px) {
.lightbox2 {width:394px;}
}

@media only screen and (max-width: 413px) {
.lightbox2 {width:355px;}
}

@media only screen and (max-width: 374px) {
.lightbox2 {width:300px;}
.lightbox2-content {padding:30px 20px;}
.lightbox2 .lb2-reports {margin-left:-12px !important; margin-right:-12px !important;}
}