/* 
    Document   : theme-options
    Created on : Jul 3, 2013, 5:44:02 PM
    Author     : George
    Description:
        Purpose of the stylesheet follows.
*/
@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,300italic);

.options_table, #thrive_focus_options, #thrive_optin_options, .option_tabs, .option_window, .thrive-page-settings {
    color: #323232;
    font-family: 'Source Sans Pro', sans-serif;
}

.clear {
    clear: both;
}

table.options_table {
    width: 95%;

}

.option_tabs {
    vertical-align: top;
    width: 221px;
}

.option_window {
    vertical-align: top;
    width: 80.5%;
}

.thrive-admin-submenu {
    border-style: solid;
    border-width: 0px 0px 1px 1px;
    border-color: transparent transparent #121212 #121212;
    box-shadow: 0px 1px 0px 0px #b9b9b9;
    -webkit-box-shadow: 0px 1px 0px 0px #b9b9b9;
    -moz-box-shadow: 0px 1px 0px 0px #b9b9b9;
}

.option_tabs a {
    background: #222222;
    border-bottom: 1px solid #161616;
    border-top: 1px solid #2c2c2c;
    color: #ededed;
    cursor: pointer;
    display: block;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    position: relative;
}

.option_tabs a:first-child {
    border-top: 1px solid #2f2f2f;
}

.option_tabs a:last-child {
    border-bottom: none;
}

.option_tabs a:hover, .option_tabs a.selected {
    background: #3a3a3a;
    color: #47bb28;
}

.option_tabs a.selected:after {
    border: 8px solid rgba(0, 0, 0, 0);
    border-right-color: #fdfdfd;
    content: "";
    height: 0;
    margin-top: -8px;
    position: absolute;
    right: -1px;
    top: 50%;
    width: 0;
}

#thrive-admin-container {
    /*margin-top: -30px;*/
    padding-left: 10px;
}

.thrive-admin-subcontainer {
    background: #ffffff;
    display: none;
    vertical-align: top;
}

.option_window .options-container {
    background: #ffffff;
    border: 1px solid #e1e1e1;
    padding: 25px;
}

.with-button {
    margin-top: 20px;
}

.with-button p.submit {
    margin: 0px;
    padding: 0px;
}

.option_window input[type="text"], textarea, .thrive-page-settings input[type="text"], .thrive-page-settings textarea {
    font-size: 12px;
    margin-right: 7px;
    padding: 7px;
    width: 50%;
}

.option_window h3, .thrive-page-settings h3 {
    border-bottom: 1px solid #e1e1e1;
    font-weight: 300;
    font-style: italic;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 0px;
}

/*#poststuff h3, .metabox-holder h3 {*/
/*margin-top: 7px;*/
/*}*/
.option_window h3:first-of-type, .thrive-page-settings h3:first-of-type {
    margin-top: 0px;
}

.option_window h3:hover, .thrive-page-settings h3:hover {
    cursor: pointer;
}

.form-table th {
    width: 28%;
}

.thrive_options_branding {
    padding: 10px 0px 15px 0px;
    width: 100%;
}

.thrive_admin_logo {
    vertical-align: bottom;
}

.thrive_admin_share {
    width: 413px;
}

.fb_iframe_widget {
    display: inline-block;
    vertical-align: top;
}

.share-thrive {
    float: right;
}

.share-thrive .twitter-share-button {
    height: 25px !important;
}

.share-thrive .thrive-plus-one {
    width: 70px;
    vertical-align: top;
    display: inline-block;
}

.form-table {
    /*background: #fdfdfd;*/
    /*border-collapse: collapse;*/
    /*display: table;*/
    /*margin-bottom: 0px !important;*/
    /*max-width: 620px;*/
}

.form-table.postEdit {
    max-width: 100%;
}

.form-table th {
    color: #323232;
    font-weight: 400;
    font-size: 18px;
    /*width: 230px;*/
}

.form-table td, th {
    border-bottom: 1px dashed #efefef;
    padding-top: 15px;
    padding-bottom: 15px;
    /*vertical-align: middle !important;*/
}

.form-table label.btn {
    border: 1px solid #f5f5f5;
    margin: 0px;
    padding: 6px;
}

input[type="button"].thrive_options {
    margin: 10px 10px 0px 0px;
}

input[type="radio"] {
    margin-left: 5px;
}

/* radio button toggles added by Paul */
input[type="radio"].toggle {
    display: none;
}

.upload:hover, .remove:hover {
    opacity: 0.85;
}

/*input[type="radio"].toggle-left:checked + label, .upload, .upload:hover {*/

input[type="radio"].toggle + label {
    /*background: #f6f6f6;*/
    background: #f6f6f6;
    border-radius: 0px;
    border-style: solid;
    box-shadow: inset 1px 1px 0px 0px #fafafa, 0px 1px 0px 0px #dbdbdb;
    color: #9b9b9b;
    display: block;
    float: left;
    font-size: 15px;
    line-height: 15px;
    padding: 9px;
    text-transform: uppercase;
}

input[type="radio"].toggle:hover + label {
    color: #3e3e3e;
}

input[type="radio"].toggle.toggle-left:checked + label {
    background: #2ca01f;
    border-width: 1px 0px 1px 1px;
    border-color: #2b9b1f transparent #2b9b1f #2b9b1f;
    border-style: solid;
    box-shadow: inset 1px 1px 0px 0px #2a8e1f, 0px 1px 0px 0px #dbdbdb;
    color: #fff;
}

input[type="radio"].toggle.toggle-left + label {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 1px 0px 1px 1px;
    border-color: #c8c8c8 transparent #c8c8c8 #c8c8c8;
}

input[type="radio"].toggle.toggle-right:checked + label {
    background: #a31a1a;
    border-width: 1px 0px 1px 1px;
    border-color: #9b1f1f transparent #9b1f1f #9b1f1f;
    border-style: solid;
    box-shadow: inset 1px 1px 0px 0px #8d1717, 0px 1px 0px 0px #dbdbdb;
    color: #fff;
}

input[type="radio"].toggle.toggle-right + label {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 1px 1px 1px 0px;
    border-color: #c8c8c8 #c8c8c8 #c8c8c8 transparent;
}

input[type="radio"].toggle.green-toggle:checked + label {
    background: #2ca01f;
    border-width: 1px 0px 1px 1px;
    border-color: #2b9b1f transparent #2b9b1f #2b9b1f;
    border-style: solid;
    box-shadow: inset 1px 1px 0px 0px #2a8e1f, 0px 1px 0px 0px #dbdbdb;
    color: #fff;
}

input[type="radio"].toggle.green-toggle + label {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-width: 1px 1px 1px 0px;
    border-color: #c8c8c8 #c8c8c8 #c8c8c8 transparent;
}

input[type="radio"].toggle:checked + label {
    /*-webkit-box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
    /*-moz-box-shadow: inset 0 1px 6px 0 rgba(41, 41, 41, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
    /*box-shadow: inset 0 1px 6px rgba(41, 41, 41, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);*/
    /*border-color: transparent;*/
    /*cursor: default;*/
    /*color: #E6E6E6;*/
    /*text-shadow: 0 1px 1px rgba(40, 40, 40, 0.75);*/
    /* background: green;*/
    /*all*/
    /*border-radius: 5px;*/
    background: inherit;
    cursor: default;
}

#container-new-tab label.btn {
    padding: 6px;
}

#container-new-tab .thrive_form_label {
    display: inline-block;
    width: 180px;
}

.wp-core-ui .button-primary, .wp-core-ui .button-secondary {
    font-size: 15px;
    height: auto;
    line-height: 15px;
    padding: 5px 15px;
    text-align: center;
}

.wp-core-ui .button-primary:active {
    padding-top: 5px;
}

/*#thrive_preview_button {*/
/*font-size: 14px;*/
/*line-height: 14px;*/
/*padding-top: 7px;*/
/*}*/
.wp_themeSkin #content_toolbar1 .mceListBox {
    background: transparent;
    border: none;
    box-shadow: none;
}

.sticky-menu #TB_window {
    background: #fff;
}

.thrive_shortcode_container_video table {
    width: 100%;
}

.form-table .adminTabs {
    padding-bottom: 0px;
}

.adminTabs ul {
    margin: 0px;
    padding: 0px;
}

.adminTabs li {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #EFEFEF;
    border-bottom: none;
    display: inline-block;
    float: left;
    margin-bottom: 0px;
}

.adminTabs li span {
    cursor: pointer;
    display: block;
    padding: 10px 20px;
}

#TB_window a.pure-button:link, #TB_window a.pure-button {
    color: #fff;
}

.adminHeightInput {
    height: 32px;
}

.txt-thrive-tab-headline {
    height: 31px;
}

.adminWidthInput {
    width: 80%;
}

#thrive_shortcode_borderless_image_text {
    width: 50%;
}

#TB_ajaxContent {
    overflow: visible;
}

#TB_window {
    overflow-y: scroll;
}

.form-table .noBorder td {
    border-bottom: none;
}

.left {
    float: left;
}

.thrive-page-settings {
    background: #fff;
    border: 1px solid #E1E1E1;
    padding: 25px;
    width: 80%;
}

.thrive-page-settings h3 {
    margin-bottom: 0px;
}

.page-section-options {
    border-top: 1px dashed #EFEFEF;
}

.page-template-table {
    border-collapse: collapse;
    width: 100%;
}

.page-template-table th {
    border-bottom: 1px solid #e1e1e1;
    line-height: 14px;
    font-weight: normal;
    text-align: left;
}

.page-template-table td {
    line-height: 30px;
}

.quicktags-toolbar .ed_button {
    display: inline-block;
    width: auto;
}

.widgets-chooser-sidebars {
    padding-left: 0px;
}

.ptf {
    font-size: 18px;
}

/*responsive*/
/*responsive focus areas for the admin*/
/*---------- Responsive - width 1080px  ----------*/
@media only screen and (max-width: 1610px) {

    .option_window {
        width: 75%;
    }
}

/*---------- Responsive - width 1080px  ----------*/
@media only screen and (max-width: 1410px) {

    .option_window {
        width: 70.5%;
    }
}

/*---------- Responsive - width 1080px  ----------*/
@media only screen and (max-width: 1280px) {

    .option_window {
        width: 65.5%;
    }
}

/*---------- Responsive - width 1080px  ----------*/
@media only screen and (max-width: 1080px) {

    .option_window {
        width: 60.5%;
    }
}

/*----------  Responsive - width 1169px  ----------*/
@media only screen and (max-width: 1169px) {
    .option_tabs {
        float: none;
        width: 100%;
    }

    .option_window {
        float: none;
        width: 97%;
    }

    .option_tabs .thrive-admin-submenu a {
        background: none;
        border: none;
        color: #2C2C2C;
        float: left;
        font-size: 15px;
        padding: 5px 5px 10px 20px;
        width: 30%;
    }

    .option_tabs a.selected:after {
        border-color: transparent transparent transparent #47BB28;
        left: 0px;
        top: 13px;

    }

    .thrive-admin-submenu:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .thrive-admin-submenu {
        box-shadow: none;
        border: none;
    }
}

#thrive_theme_options_custom_css {
    width: 440px;
    height: 300px;
}

.fm-b {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -ms-border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    margin-right: 6px;
    padding: 5px 10px;
}

.fm-b:before {
    font-family: 'FontAwesome';
    margin-right: 10px;
}

.fm-b:hover {
    color: #fff;
}

.edit-font {
    background: #0074a2;
}

.edit-font:hover {
    background: #1c96c7;
}

.edit-font:before {
    content: '\f040';
}

.duplicate-font {
    background: #989898;
}

.duplicate-font:hover {
    background: #b2b2b2;
}

.duplicate-font:before {
    content: '\f0c5';
}

.delete-font {
    background: #cc3333;
}

.delete-font:hover {
    background: #de4b4b;
}

.delete-font:before {
    content: '\f014';
}

#TB_window {
    width: 650px !important;
}

.wp-full-overlay-sidebar {
    overflow: visible !important;
}

.cd {
    border: 1px solid #5c5c5c;
    display: inline-block;
    height: 20px;
    position: absolute;
    left: 0;
    top: -3px;
    width: 20px;
}

.cdi {
    position: relative;
    padding-left: 30px;
}

.fm td {
    padding-left: 0;
}

.font-button {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

.fmp {
    height: 600px;
    margin: auto !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}

.thrive_post_input_large {
    width: 100%;
}

/*
    shortcodes submenu
*/
.mce-styled, .thrive-sc-submenu {
    -moz-box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.13);
    -ms-box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.13);
    border: 1px solid #e0e0e0;
    height: 360px !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    position: absolute;
    width: 970px !important;
}

.mce-styled .mce-menu-item, .thrive-sc-submenu-item {
    overflow: hidden;
    padding-left: 32px !important;
    width: 138px;
}

.thrive-sc-submenu-item {
    clear: both;
    color: #333333;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 1px;
    padding: 6px 15px 6px 12px;
    white-space: nowrap;
}

.mce-styled .mce-menu-item:before, .thrive-sc-submenu-item:before {
    background-image: url('../images/sprite-admin.png');
    background-repeat: no-repeat;
    content: '';
    display: block;
    height: 28px;
    position: absolute;
    left: 4px;
    top: 0;
    width: 26px;
}

.mce-styled.mce-menu .mce-menu-item:hover {
    background: none;
}

.mce-styled.mce-menu .mce-menu-item:hover span, .thrive-sc-submenu-item:hover {
    color: #4a8a21;
}

.mce-styled .mce-menu-item span, .thrive-sc-submenu-item {
    color: #444444;
    font-size: 15px;
    font-weight: 300;
}

.mce-textandlayout {
    position: absolute !important;
    left: 20px;
    top: 10px;
}

.mce-styled .mce-textandlayout {
    padding-left: 0 !important;
    width: 170px;
}

.mce-styled .mce-textandlayout:before {
    content: '';
    display: none;
}

.mce-styled .mce-textandlayout span, .mce-textandlayout {
    color: #444444 !important;
    font-size: 16px;
    font-weight: 700;
}

.mce-headlinefocus {
    position: absolute !important;
    left: 20px;
    top: 50px;
}

.mce-headlinefocus:before {
    background-position: 0 4px;
}

.mce-headlinefocus:hover:before {
    background-position: 0 -27px;
}

.mce-customfont {
    position: absolute !important;
    left: 20px;
    top: 80px;
}

.mce-customfont:before {
    background-position: -30px 3px;
}

.mce-customfont:hover:before {
    background-position: -30px -28px;
}

.mce-highlight {
    position: absolute !important;
    left: 20px;
    top: 110px;
}

.mce-highlight:before {
    background-position: -58px 3px;
}

.mce-highlight:hover:before {
    background-position: -58px -28px;
}

.mce-dropcaps {
    position: absolute !important;
    left: 20px;
    top: 140px;
}

.mce-dropcaps:before {
    background-position: -88px 3px;
}

.mce-dropcaps:hover:before {
    background-position: -88px -28px;
}

.mce-dividerline {
    position: absolute !important;
    left: 20px;
    top: 170px;
}

.mce-dividerline:before {
    background-position: -119px 3px;
}

.mce-dividerline:hover:before {
    background-position: -119px -28px;
}

.mce-contentcontainer {
    position: absolute !important;
    left: 20px;
    top: 200px;
}

.mce-contentcontainer:before {
    background-position: -149px 3px;
}

.mce-contentcontainer:hover:before {
    background-position: -149px -28px;
}

.mce-blankspace {
    position: absolute !important;
    left: 20px;
    top: 230px;
}

.mce-blankspace:before {
    background-position: -181px 3px;
}

.mce-blankspace:hover:before {
    background-position: -181px -28px;
}

.mce-code {
    position: absolute !important;
    left: 20px;
    top: 260px;
}

.mce-code:before {
    background-position: -208px 3px;
}

.mce-code:hover:before {
    background-position: -208px -28px;
}

.mce-pullquote {
    position: absolute !important;
    left: 20px;
    top: 290px;
}

.mce-pullquote:before {
    background-position: -238px 2px;
}

.mce-pullquote:hover:before {
    background-position: -238px -29px;
}

.mce-conversion {
    position: absolute !important;
    left: 210px;
    top: 10px;
}

.mce-styled .mce-conversion {
    padding-left: 0 !important;
    width: 170px;
}

.mce-styled .mce-conversion:before {
    content: '';
    display: none;
}

.mce-styled .mce-conversion span, .mce-conversion {
    color: #444444 !important;
    font-size: 16px;
    font-weight: 700;
}

.mce-button {
    position: absolute !important;
    left: 210px;
    top: 50px;
}

.mce-button:before {
    background-position: -268px 3px;
}

.mce-button:hover:before {
    background-position: -268px -28px;
}

.mce-splitbutton {
    position: absolute !important;
    left: 210px;
    top: 80px;
}

.mce-splitbutton:before {
    background-position: -297px 3px;
}

.mce-splitbutton:hover:before {
    background-position: -297px -28px;
}

.mce-megabutton {
    position: absolute !important;
    left: 210px;
    top: 110px;
}

.mce-megabutton:before {
    background-position: -326px 3px;
}

.mce-megabutton:hover:before {
    background-position: -326px -28px;
}

.mce-countdown {
    position: absolute !important;
    left: 210px;
    top: 140px;
}

.mce-countdown:before {
    background-position: -357px 3px;
}

.mce-countdown:hover:before {
    background-position: -357px -28px;
}

.mce-price {
    position: absolute !important;
    left: 210px;
    top: 170px;
}

.mce-price:before {
    background-position: -388px 3px;
}

.mce-price:hover:before {
    background-position: -388px -28px;
}

.mce-testimonal {
    position: absolute !important;
    left: 210px;
    top: 200px;
}

.mce-testimonal:before {
    background-position: -418px 3px;
}

.mce-testimonal:hover:before {
    background-position: -418px -28px;
}

.mce-grid {
    position: absolute !important;
    left: 210px;
    top: 230px;
}

.mce-grid:before {
    background-position: -450px 1px;
}

.mce-grid:hover:before {
    background-position: -450px -30px;
}

.mce-optin {
    position: absolute !important;
    left: 210px;
    top: 260px;
}

.mce-optin:before {
    background-position: -478px 1px;
}

.mce-optin:hover:before {
    background-position: -478px -30px;
}

.mce-numbersanddata {
    position: absolute !important;
    left: 400px;
    top: 10px;
}

.mce-styled .mce-numbersanddata {
    padding-left: 0 !important;
    width: 170px;
}

.mce-styled .mce-numbersanddata:before {
    content: '';
    display: none;
}

.mce-styled .mce-numbersanddata span, .mce-numbersanddata {
    color: #444444 !important;
    font-size: 16px;
    font-weight: 700;
}

.mce-numbercounter {
    position: absolute !important;
    left: 400px;
    top: 50px;
}

.mce-numbercounter:before {
    background-position: -505px 3px;
}

.mce-numbercounter:hover:before {
    background-position: -505px -28px;
}

.mce-progressbar {
    position: absolute !important;
    left: 400px;
    top: 80px;
}

.mce-progressbar:before {
    background-position: -532px 3px;
}

.mce-progressbar:hover:before {
    background-position: -532px -28px;
}

.mce-fillcounter {
    position: absolute !important;
    left: 400px;
    top: 110px;
}

.mce-fillcounter:before {
    background-position: -562px 1px;
}

.mce-fillcounter:hover:before {
    background-position: -562px -30px;
}

.mce-lists {
    position: absolute !important;
    left: 400px;
    top: 160px;
}

.mce-styled .mce-lists {
    padding-left: 0 !important;
    width: 170px;
}

.mce-styled .mce-lists:before {
    content: '';
    display: none;
}

.mce-styled .mce-lists span, .mce-lists {
    color: #444444 !important;
    font-size: 16px;
    font-weight: 700;
}

.mce-postslist {
    position: absolute !important;
    left: 400px;
    top: 200px;
}

.mce-postslist:before {
    background-position: -686px 3px;
}

.mce-postslist:hover:before {
    background-position: -686px -28px;
}

.mce-postsgallery {
    position: absolute !important;
    left: 400px;
    top: 230px;
}

.mce-postsgallery:before {
    background-position: -715px 3px;
}

.mce-postsgallery:hover:before {
    background-position: -715px -28px;
}

.mce-custommenu {
    position: absolute !important;
    left: 400px;
    top: 260px;
}

.mce-custommenu:before {
    background-position: -746px 3px;
}

.mce-custommenu:hover:before {
    background-position: -746px -28px;
}

.mce-contentreveal {
    position: absolute !important;
    left: 590px;
    top: 10px;
}

.mce-styled .mce-contentreveal {
    padding-left: 0 !important;
    width: 170px;
}

.mce-styled .mce-contentreveal:before {
    content: '';
    display: none;
}

.mce-styled .mce-contentreveal span, .mce-contentreveal {
    color: #444444 !important;
    font-size: 16px;
    font-weight: 700;
}

.mce-styled .mce-tabs {
    border-bottom: 0;
    position: absolute !important;
    left: 590px;
    top: 50px;
}

.mce-styled .mce-tabs:before {
    background-position: -596px 3px;
}

.mce-styled .mce-tabs:hover:before {
    background-position: -596px -28px;
}

.mce-toggle {
    position: absolute !important;
    left: 590px;
    top: 80px;
}

.mce-toggle:before {
    background-position: -626px 3px;
}

.mce-toggle:hover:before {
    background-position: -626px -27px;
}

.mce-accordion {
    position: absolute !important;
    left: 590px;
    top: 110px;
}

.mce-accordion:before {
    background-position: -655px 3px;
}

.mce-accordion:hover:before {
    background-position: -655px -28px;
}

.mce-other {
    position: absolute !important;
    left: 780px;
    top: 10px;
}

.mce-styled .mce-other {
    padding-left: 0 !important;
    width: 170px;
}

.mce-styled .mce-other:before {
    content: '';
    display: none;
}

.mce-styled .mce-other span, .mce-other {
    color: #444444 !important;
    font-size: 16px;
    font-weight: 700;
}

.mce-contentbox {
    position: absolute !important;
    left: 780px;
    top: 50px;
}

.mce-contentbox:before {
    background-position: -805px 3px;
}

.mce-contentbox:hover:before {
    background-position: -805px -28px;
}

.mce-custombox {
    position: absolute !important;
    left: 780px;
    top: 80px;
}

.mce-custombox:before {
    background-position: -1045px 3px;
}

.mce-custombox:hover:before {
    background-position: -1045px -26px;
}

.mce-iconbox {
    position: absolute !important;
    left: 780px;
    top: 110px;
}

.mce-iconbox:before {
    background-position: -1075px 3px;
}

.mce-iconbox:hover:before {
    background-position: -1075px -26px;
}

.mce-pagesection {
    position: absolute !important;
    left: 780px;
    top: 140px;
}

.mce-pagesection:before {
    background-position: -835px 3px;
}

.mce-pagesection:hover:before {
    background-position: -835px -28px;
}

.mce-videosection {
    position: absolute !important;
    left: 780px;
    top: 170px;
}

.mce-videosection:before {
    background-position: -865px 3px;
}

.mce-videosection:before:before {
    background-position: -865px -28px;
}

.mce-responsivevideo {
    position: absolute !important;
    left: 780px;
    top: 200px;
}

.mce-responsivevideo:before {
    background-position: -892px 3px;
}

.mce-responsivevideo:hover:before {
    background-position: -892px -28px;
}

.mce-followme {
    position: absolute !important;
    left: 780px;
    top: 230px;
}

.mce-followme:before {
    background-position: -923px 3px;
}

.mce-followme:hover:before {
    background-position: -923px -28px;
}

.mce-phone {
    position: absolute !important;
    left: 780px;
    top: 260px;
}

.mce-phone:before {
    background-position: -953px 3px;
}

.mce-phone:hover:before {
    background-position: -953px -28px;
}

.mce-gmaps {
    position: absolute !important;
    left: 780px;
    top: 290px;
}

.mce-gmaps:before {
    background-position: -986px 3px;
}

.mce-gmaps:hover:before {
    background-position: -986px -28px;
}

.mce-borderless {
    position: absolute !important;
    left: 780px;
    top: 320px;
}

.mce-borderless:before {
    background-position: -1017px 3px;
}

.mce-borderless:hover:before {
    background-position: -1017px -28px;
}

#thrive-qtags-sc-submenu2 {
    padding: 0px 20px;
}
.mce-apprentice {
    position: absolute !important;
    left: 590px;
    top: 160px;
}
.mce-styled .mce-apprentice {
    padding-left: 0 !important;
    width: 170px;
}
.mce-styled .mce-apprentice:before {
    content: '';
    display: none;
}
.mce-styled .mce-apprentice span, .mce-apprentice {
    color: #444444 !important;
    font-size: 16px;
    font-weight: 700;
}
.mce-lessonslist {
    position: absolute !important;
    left: 590px;
    top: 200px;
}
.mce-lessonslist:before {
    background-position: -1105px 3px;
}
.mce-lessonslist:hover:before {
    background-position: -1105px -26px;
}
.mce-lessonsgallery {
    position: absolute !important;
    left: 590px;
    top: 230px;
}
.mce-lessonsgallery:before {
    background-position: -1135px 3px;
}
.mce-lessonsgallery:hover:before {
    background-position: -1135px -26px;
}
.mce-welcomeback {
    position: absolute !important;
    left: 590px;
    top: 260px;
}
.mce-welcomeback:before {
    background-position: -1165px 3px;
}
.mce-welcomeback:hover:before {
    background-position: -1165px -26px;
}

/* Performance */
.img-optimization {
    border-bottom: 1px dashed #efefef;
}

.img-optimization .btn-round {
    background: #fefefe;
    background: -moz-linear-gradient(top, #fefefe 0%, #e7e6e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fefefe), color-stop(100%, #e7e6e2));
    background: -webkit-linear-gradient(top, #fefefe 0%, #e7e6e2 100%);
    background: -o-linear-gradient(top, #fefefe 0%, #e7e6e2 100%);
    background: -ms-linear-gradient(top, #fefefe 0%, #e7e6e2 100%);
    background: linear-gradient(to bottom, #fefefe 0%, #e7e6e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e7e6e2', GradientType=0);
    border: 1px solid #cdcdcd;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    font-family: 'FontAwesome';
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    padding: 0;
}

.img-optimization button.btn-round:hover {
    background-color: #fff;
}

.img-optimization .img-optimization-controls {
    padding: 10px 0;
    border-bottom: 1px dashed #efefef;
}

.img-optimization .img-optimization-controls span.optimization-status {
    font-size: 18px;
    margin-right: 15px;
}

.img-optimization .img-optimization-controls button {
    margin-right: 10px;
}

.img-optimization .img-optimization-controls button.btn-play:after {
    content: "\f04b";
    color: #639830;
}

.img-optimization .img-optimization-controls button.btn-pause:after {
    content: "\f04c";
    color: #666666;
}

.img-optimization .img-optimization-controls button.btn-cencel:after {
    content: "\f00d";
    color: #990002;
}

.img-optimization .img-optimization-progress ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 400px;
    overflow-y: auto;
}

.img-optimization .img-optimization-progress ul li {
    font-size: 16px;
    padding: 5px 0;
    line-height: 32px;
    vertical-align: middle;
    height: 32px;
}

.img-optimization .img-optimization-progress ul li span {
    display: inline-block;
    color: #333333;
}

.img-optimization .img-optimization-progress ul li span.img-icon {
    margin-right: 15px;
}

.img-optimization .img-optimization-progress ul li span.img-icon:after {
    font-family: 'FontAwesome';
    content: "\f03e";
    color: #999999;
    font-size: 21px;
    font-size: 22px;
    vertical-align: middle;
}

.img-optimization .img-optimization-progress ul li span.img-status {
    margin-left: 15px;
}

.img-optimization .img-optimization-progress ul li span.img-status:after {
    font-family: 'FontAwesome';
    content: "\f00c";
    color: #639830;
}

.optimization-container {
    position: relative;
    width: 325px;
}

#tt-btn-resize-images {
    position: absolute;
    right: -60px;
    top: 0;
}

#tt-btn-resize-images-cancel {
    position: absolute;
    right: -110px;
    top: 0;
}

#tt-optimization-status-msg {
    font-size: 15px;
    font-weight: 300;
}

@media only screen and (max-width: 1080px) {
    .mce-styled, .thrive-sc-submenu {
        height: 380px !important;
        width: 580px !important;
    }

    .mce-styled .mce-menu-item:before, .thrive-sc-submenu-item:before {
        display: none;
    }

    .mce-styled .mce-menu-item, .thrive-sc-submenu-item {
        padding-left: 0 !important;
        width: 140px;
    }

    .mce-conversion {
        left: 160px;
    }

    .mce-button {
        left: 160px;
    }

    .mce-splitbutton {
        left: 160px;
    }

    .mce-megabutton {
        left: 160px;
    }

    .mce-countdown {
        left: 160px;
    }

    .mce-price {
        left: 160px;
    }

    .mce-testimonal {
        left: 160px;
    }

    .mce-grid {
        left: 160px;
    }

    .mce-optin {
        left: 160px;
    }

    .mce-numbersanddata {
        left: 260px;
    }

    .mce-numbercounter {
        left: 260px;
    }

    .mce-progressbar {
        left: 260px;
    }

    .mce-fillcounter {
        left: 260px;
    }

    .mce-lists {
        top: 140px;
        left: 260px;
    }

    .mce-postslist {
        top: 170px;
        left: 260px;
    }

    .mce-postsgallery {
        top: 200px;
        left: 260px;
    }

    .mce-custommenu {
        top: 230px;
        left: 260px;
    }

    .mce-contentreveal {
        top: 260px;
        left: 260px;
    }

    .mce-styled .mce-tabs {
        top: 290px;
        left: 260px;
    }

    .mce-toggle {
        top: 320px;
        left: 260px;
    }

    .mce-accordion {
        top: 350px;
        left: 260px;
    }

    .mce-other {
        left: 420px;
    }

    .mce-contentbox {
        left: 420px;
    }

    .mce-custombox {
        left: 420px;
    }

    .mce-iconbox {
        left: 420px;
    }

    .mce-pagesection {
        left: 420px;
    }

    .mce-videosection {
        left: 420px;
    }

    .mce-responsivevideo {
        left: 420px;
    }

    .mce-followme {
        left: 420px;
    }

    .mce-phone {
        left: 420px;
    }

    .mce-gmaps {
        left: 420px;
    }

    .mce-borderless {
        left: 420px;
    }
    .mce-apprentice {
        top: 380px;
        left: 260px;
    }
    .mce-lessonslist {
        top: 410px;
        left: 260px;
    }
    .mce-lessonsgallery {
        top: 440px;
        left: 260px;
    }
    .mce-welcomeback {
        top: 470px;
        left: 260px;
    }
}

/*phone buttons preview*/

.phone, .phone_mobile {
    color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 230px;
    z-index: 3;
}

.phone .phr, .phone_mobile .phr {
    background: #4174dc;
    margin-bottom: 18px;
    padding: 10px;
}

.phone a, .phone span, .phone_mobile a, .phone_mobile span {
    display: block;
}

.phone span, .phone_mobile span {
    font-size: 13px;
    line-height: 22px;
}

.phone a, .phone_mobile a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.phone a:before, .phone_mobile a:before {
    content: '\f095';
    color: #fff;
    display: inline-block;
    font-family: 'FontAwesome';
    margin-right: 5px;
}

.phone_mobile {
    color: #fff;
    display: block;
    margin: 0px auto;
    text-align: center;
}

.phone_mobile .phr {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.phone_mobile.blue .phr {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZjOTRlNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQxNzRkYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c94e4), color-stop(100%, #4174dc));
    background-image: -webkit-linear-gradient(#6c94e4 0%, #4174dc 100%);
    background-image: -moz-linear-gradient(#6c94e4 0%, #4174dc 100%);
    background-image: -o-linear-gradient(#6c94e4 0%, #4174dc 100%);
    background-image: linear-gradient(#6c94e4 0%, #4174dc 100%);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #97b3ec inset;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #97b3ec inset;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #97b3ec inset;
    border: 1px solid #2459c6;
}

.phone_mobile.blue .phr:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQxNzRkYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZjOTRlNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4174dc), color-stop(100%, #6c94e4));
    background-image: -webkit-linear-gradient(#4174dc 0%, #6c94e4 100%);
    background-image: -moz-linear-gradient(#4174dc 0%, #6c94e4 100%);
    background-image: -o-linear-gradient(#4174dc 0%, #6c94e4 100%);
    background-image: linear-gradient(#4174dc 0%, #6c94e4 100%);
}

.phone_mobile.green .phr {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2Y2U2OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdiYzE0MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #96ce69), color-stop(100%, #7bc143));
    background-image: -webkit-linear-gradient(#96ce69 0%, #7bc143 100%);
    background-image: -moz-linear-gradient(#96ce69 0%, #7bc143 100%);
    background-image: -o-linear-gradient(#96ce69 0%, #7bc143 100%);
    background-image: linear-gradient(#96ce69 0%, #7bc143 100%);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #b1da90 inset;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #b1da90 inset;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #b1da90 inset;
    border: 1px solid #639d34;
}

.phone_mobile.green .phr:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdiYzE0MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk2Y2U2OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7bc143), color-stop(100%, #96ce69));
    background-image: -webkit-linear-gradient(#7bc143 0%, #96ce69 100%);
    background-image: -moz-linear-gradient(#7bc143 0%, #96ce69 100%);
    background-image: -o-linear-gradient(#7bc143 0%, #96ce69 100%);
    background-image: linear-gradient(#7bc143 0%, #96ce69 100%);
}

.phone_mobile.orange .phr {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0YWM2YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YxOTEzYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4ac6c), color-stop(100%, #f1913c));
    background-image: -webkit-linear-gradient(#f4ac6c 0%, #f1913c 100%);
    background-image: -moz-linear-gradient(#f4ac6c 0%, #f1913c 100%);
    background-image: -o-linear-gradient(#f4ac6c 0%, #f1913c 100%);
    background-image: linear-gradient(#f4ac6c 0%, #f1913c 100%);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #f8c79b inset;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #f8c79b inset;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #f8c79b inset;
    border: 1px solid #e97611;
}

.phone_mobile.orange .phr:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxOTEzYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y0YWM2YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f1913c), color-stop(100%, #f4ac6c));
    background-image: -webkit-linear-gradient(#f1913c 0%, #f4ac6c 100%);
    background-image: -moz-linear-gradient(#f1913c 0%, #f4ac6c 100%);
    background-image: -o-linear-gradient(#f1913c 0%, #f4ac6c 100%);
    background-image: linear-gradient(#f1913c 0%, #f4ac6c 100%);
}

.phone_mobile.purple .phr {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FkOTRjZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkzNzFiZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ad94cd), color-stop(100%, #9371bd));
    background-image: -webkit-linear-gradient(#ad94cd 0%, #9371bd 100%);
    background-image: -moz-linear-gradient(#ad94cd 0%, #9371bd 100%);
    background-image: -o-linear-gradient(#ad94cd 0%, #9371bd 100%);
    background-image: linear-gradient(#ad94cd 0%, #9371bd 100%);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #c8b7dd inset;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #c8b7dd inset;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #c8b7dd inset;
    border: 1px solid #7950ab;
}

.phone_mobile.purple .phr:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkzNzFiZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FkOTRjZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9371bd), color-stop(100%, #ad94cd));
    background-image: -webkit-linear-gradient(#9371bd 0%, #ad94cd 100%);
    background-image: -moz-linear-gradient(#9371bd 0%, #ad94cd 100%);
    background-image: -o-linear-gradient(#9371bd 0%, #ad94cd 100%);
    background-image: linear-gradient(#9371bd 0%, #ad94cd 100%);
}

.phone_mobile.red .phr {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y1Njk2ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YyMzkzZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f5696d), color-stop(100%, #f2393f));
    background-image: -webkit-linear-gradient(#f5696d 0%, #f2393f 100%);
    background-image: -moz-linear-gradient(#f5696d 0%, #f2393f 100%);
    background-image: -o-linear-gradient(#f5696d 0%, #f2393f 100%);
    background-image: linear-gradient(#f5696d 0%, #f2393f 100%);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #f8999c inset;
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #f8999c inset;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.16), 0px 1px 0px 0px #f8999c inset;
    border: 1px solid #e90f16;
}

.phone_mobile.red .phr:hover {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyMzkzZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y1Njk2ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2393f), color-stop(100%, #f5696d));
    background-image: -webkit-linear-gradient(#f2393f 0%, #f5696d 100%);
    background-image: -moz-linear-gradient(#f2393f 0%, #f5696d 100%);
    background-image: -o-linear-gradient(#f2393f 0%, #f5696d 100%);
    background-image: linear-gradient(#f2393f 0%, #f5696d 100%);
}

.thrive-field-container {
    padding: 0 0 8px 0;
}